*{
  margin: 0;
  padding: 0;
}

nav{
  width: 100%;
  background: #000;
}

nav ul{
  display: flex;
  height: 60px;
  margin: auto 30px;
}

nav ul li{
  margin: auto 0;
  color: aliceblue;
  list-style: none;
  font-size: 32px;
}

nav ul li .btnaddt{
  margin: auto 10px;
  padding: 10px 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}




.blocoContainer{
  width: 96%;
  margin: auto;
  display: flex;
}

.blocoContainer .blocoContent{
  width: 24%;
  background: #f86;
  margin: 3px 5px;
  padding: 10px 5px 50px 5px;
  border-radius: 6px;
}

.blocoContainer .blocoContent .tesk{
  padding: 30px 0;
  background-color: #fff;
  border-radius: 6px;
}